* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.navbar__logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid__photo {
  max-width: 50%;
  align-self: center;
}

.grid__title {
  margin-bottom: 16px;
}

.grid__desc {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  border-radius: 9px;
}

.card__stats {
  display: flex;
  align-items: center;
}

.card__star {
  height: 14px;
}

.card__list {
  display: flex;
  justify-content: space-evenly;
}

.card__image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__stats {
  display: flex;
  align-items: center;
}

.card__price {
  margin-top: auto;
}

.card__badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}